
body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #4c4c4c;
}

.showButton,.hideButton,.helpButton{border:none;cursor:pointer}
.showButton,.hideButton{width:24px;height:24px;}
.showButton{background:url('images/arrow-down1.png') no-repeat;}
.hideButton{background:url('images/arrow-up1.png') bottom no-repeat;}

#header {
	height: 72px;
	background: url(header.png) top left repeat-x;
	padding: 18px 20px 0 20px;
}
#subheader-text {
	font-size: 24px;
	height: 30px;
}
#header-text {
	font-size: 36px;
	color: #fff;
}
#nitobi-logo {
	float: right;
	padding-top: 5px
}


a {
	border: none;
}
img {
	border: none;
}


/* ASP.net popup menu */
.MainMenu
{
	background:url(images/popupmenubg.jpg);
	background-repeat:repeat-x;
}

.MainMenuItems
{ 
	height: 34px;
	color:#ffffff;
}
.MainMenuItems td
{
	color:#ffffff;
}
.MainMenuItems a
{
	padding: 3px 9px 0px 9px;
}

.PopupMenu
{
	background:url(images/popupmenubg.jpg);
	background-repeat:repeat-x;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #333333;
}
.PopupMenu td
{
	height:25px;
	padding:1px 5px 1px 2px;
	margin-bottom:2px;
}
.PopupMenu a
{
	color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
.MenuItemsHover
{
	background-color:Transparent;
	background-image:url(images/popupmenus_r.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.MenuItemsHover td
{
	height: 25px;
	padding:1px 5px 1px 2px;
	margin-bottom:2px;
}

.MenuItemsHover a
{
	color:#ffffff;
	background-image:url(images/popupmenus_l.gif);
	background-repeat:no-repeat;
	background-position:left -2px;
	display:block;
	padding-left: 15px;
	padding-right: 15px;
}
/*------------------------------------*/
.gloss .ntb-calendar a.CalEvent_Holiday:link
{
	border-bottom:solid green 2px;
}

.gloss .ntb-calendar a.CalEvent_Birthday:link
{
	border-bottom:2px solid blue;
}

.gloss .ntb-calendar a.CalEvent_Flight:link
{
	font-weight:bold;
	border-bottom:solid orange 2px;
}

.gloss .ntb-calendar a.CalEvent_CarInShop:link
{
	background-color:Red;
	color:White;
	font-weight:bold;
}