<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <description>An application that demonstrates the use of the Nitobi JSF Components.</description>
    <display-name>Nitobi JSF Example Application</display-name>

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>A servlet meant to</description>
        <servlet-name>Combo Handler</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.ComboHandler</servlet-class>
    </servlet>
    <servlet>
        <display-name>Grid Handler</display-name>
        <servlet-name>Grid Handler</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.GridHandler</servlet-class>
    </servlet>
    <servlet>
        <description>A basic servlet that provides get capabilities for the Nitobi JSF Tree.</description>
        <display-name>Tree Servlet</display-name>
        <servlet-name>treeServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.TreeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Handles the save and get for the customers in the tree grid</description>
        <display-name>Tree Grid Servlet</display-name>
        <servlet-name>TreeGridServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.TreeGridServlet</servlet-class>
    </servlet>

    <servlet>
        <description>A Servlet front end for customers.</description>
        <display-name>Customers Servlet</display-name>
        <servlet-name>customersServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.CustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <description>A servlet front end for the country table.</description>
        <display-name>Country Servlet</display-name>
        <servlet-name>countryComboServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.CountryComboServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Provinces Servlet</display-name>
        <servlet-name>ProvincesServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.ProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Contacts Servlet</display-name>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.ContactsServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>City Servlet</display-name>
        <servlet-name>CityComboServlet</servlet-name>
        <servlet-class>com.nitobi.jsf.example.servlets.CityComboServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Combo Handler</servlet-name>
        <url-pattern>/servletComboGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grid Handler</servlet-name>
        <url-pattern>/servletGrid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>treeServlet</servlet-name>
        <url-pattern>/treeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreeGridServlet</servlet-name>
        <url-pattern>/treeGridServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincesServlet</servlet-name>
        <url-pattern>/provinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countryComboServlet</servlet-name>
        <url-pattern>/countryCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customersServlet</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityComboServlet</servlet-name>
        <url-pattern>/citiesCombo</url-pattern>
    </servlet-mapping>


</web-app>
