<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet id="com.nitobi.eclipse.components-facet">
         <label>Nitobi CUI Components</label>
         <description>Copies all the client-side files to your project that are required to use Nitobi Complete UI</description>
         <category>com.nitobi.eclipse.nitobi.category</category>
      </project-facet>
      <project-facet-version
            facet="com.nitobi.eclipse.components-facet"
            version="0.8">
         <constraint>
            <requires
                  facet="jst.web"
                  version="2.2,2.3,2.4"/>
         </constraint>
         <action type="INSTALL">
            <delegate class="com.nitobi.eclipse.facet.ComponentsInstallDelegate"/>
         </action>
         <action type="UNINSTALL">
            <delegate class="com.nitobi.eclipse.facet.ComponentsUninstallDelegate"/>
         </action>
      </project-facet-version>
     
     
      <project-facet id="com.nitobi.eclipse.taglib-facet">
      		<label>Nitobi Taglib</label>
      		<description>Copies the Nitobi JSP taglib for use in your project</description>
      		<category>com.nitobi.eclipse.nitobi.category</category>
      </project-facet>
      <project-facet-version
            facet="com.nitobi.eclipse.taglib-facet"
            version="0.8">
         <constraint>
            <requires
                  facet="jst.web"
                  version="2.2,2.3,2.4"/>
         </constraint>
         <action type="INSTALL">
            <delegate class="com.nitobi.eclipse.facet.TaglibInstallDelegate"/>
         </action>
         <action type="UNINSTALL">
            <delegate class="com.nitobi.eclipse.facet.TaglibUninstallDelegate"/>
         </action>
      </project-facet-version>
      
      <project-facet id="com.nitobi.eclipse.server-facet">
      		<label>Nitobi Server Libraries</label>
      		<description>Copies the Nitobi XML libraries to your project</description>
      		<category>com.nitobi.eclipse.nitobi.category</category>
      </project-facet>
      <project-facet-version
            facet="com.nitobi.eclipse.server-facet"
            version="0.8">
         <constraint>
            <requires
                  facet="jst.web"
                  version="2.2,2.3,2.4"/>
         </constraint>
         <action type="INSTALL">
            <delegate class="com.nitobi.eclipse.facet.ServerInstallDelegate"/>
         </action>
         <action type="UNINSTALL">
            <delegate class="com.nitobi.eclipse.facet.ServerUninstallDelegate"/>
         </action>
      </project-facet-version>
      <category id="com.nitobi.eclipse.nitobi.category">
      		<label>Nitobi</label>
      		<description>Adds to your project the files necessary to use Nitobi Complete UI</description>
      </category>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            category="com.nitobi.eclipse.nitobi.category"
            path="icons/nitobi_logo.gif"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.snippets.SnippetContributions">
      <category
            id="com.nitobi.eclipse.snippets"
            label="Nitobi Complete UI"
            smallicon="icons/nitobi_logo.gif"
            contenttypes="org.eclipse.wst.jsp.core.jspsource"
            extensions="*.jsp, *.jsf, *.jspf">
         <item
               class="com.nitobi.eclipse.snippet.NitobiSnippet"
               id="com.nitobi.eclipse.grid.snippet"
               label="Grid"
               smallicon="icons/grid_logo.gif">
               <content>
               		<![CDATA[
<n:grid id="${gridId}" gethandler="${gethandler}" 
		width="600" height="600" mode="livescrolling">
</n:grid>
]]>
               </content>
               <variable description="A unique ID for this Grid component"
               			id="gridId">
               	</variable>
               	<variable description="A url that returns xml to the Grid"
               			id="gethandler">
               	</variable>
       	 </item>
         <item
         	   class="com.nitobi.eclipse.snippet.NitobiSnippet"
               id="com.nitobi.eclipse.combo.snippet"
               label="ComboBox"
               smallicon="icons/combo_logo.gif">
               <content>
               		<![CDATA[
<n:combo id="${comboId}" mode="classic">
	<n:combotextbox datafieldindex="0"></n:combotextbox>
	<n:combolist width="200px" height="180px" datasourceurl="${datasourceurl}">
		<n:combocolumndefinition datafieldindex="0"></n:combocolumndefinition>
		<n:combocolumndefinition datafieldindex="1"></n:combocolumndefinition>
	</n:combolist>
</n:combo>
]]>
               </content>
               <variable description="A unique ID for this ComboBox component"
               			id="comboId">
               </variable>
               <variable description="A url that returns xml to the ComboBox"
               			id="datasourceurl">
               </variable>
         </item>
         <item
         	   class="com.nitobi.eclipse.snippet.NitobiSnippet"
               id="com.nitobi.eclipse.tree.snippet"
               label="Tree"
               smallicon="icons/tree_logo.gif">
               <content>
               		<![CDATA[
<n:tree id="${treeId}" cssclass="folders" hoverhighlight="true">
	<n:children>
		<n:node label="Childless node"></n:node>
		<n:node label="This node has children">
			<n:children>
				<n:node label="Child 1"></n:node>
				<n:node label="Child2 "></n:node>
			</n:children>
		</n:node>
	</n:children>
</n:tree> 
]]>
               	</content>
               	<variable description="A unique ID for this Tree component"
               			id="treeId">
               	</variable>
          </item>
         <item
         	   class="com.nitobi.eclipse.snippet.NitobiSnippet"
               id="com.nitobi.eclipse.nitobi.tabstrip"
               label="Tabstrip"
               smallicon="icons/tab_logo.gif">
               <content>
               		<![CDATA[
<n:tabstrip id="${tabstripId}" width="800px" height="600px">
	<n:tabs height="50px" align="center" overlap="15">
		<n:tab width="190px" label="Nitobi" source="http://www.nitobi.com" containertype="iframe" ></n:tab>
		<n:tab width="190px" label="Google" source="http://www.google.com" containertype="iframe"></n:tab>
	</n:tabs>
</n:tabstrip>
]]>
				</content>
				<variable description="A unique ID for this Tabstrip component"
						id="tabstripId">
				</variable>
		</item>
         <item
         	   class="com.nitobi.eclipse.snippet.NitobiSnippet"
               id="com.nitobi.eclipse.fisheye.snippet"
               label="Fisheye"
               smallicon="icons/fisheye_logo.gif">
               <content>
               		<![CDATA[
<n:fisheye id="${fisheyeId}" growpercent="200" opendirection="up" expanddirection="left" iconwidth="80">
	<n:menuitem imagesrc="image_location.png" label="Item 1"></n:menuitem>
	<n:menuitem imagesrc="image_location.png" label="Item 2"></n:menuitem>
</n:fisheye>
]]>
				</content>
				<variable description="A unique ID for the Fisheye component" 
						id="fisheyeId">
				</variable>
		</item> 
      </category>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <runtime-component any="true"/>
         <facet id="com.nitobi.eclipse.components-facet"/>
         <facet id="com.nitobi.eclipse.taglib-facet"/>
         <facet id="com.nitobi.eclipse.server-facet"/>
      </supported>
   </extension>

</plugin>
